
body{
    font-family: Arial, Helvetica, sans-serif;
    font: 15px/1.5 ;
    padding: 0;
    margin: 0;
    background-color:lightyellow;
}

/* main */
.container{
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
     padding: 0px;
    margin: 0px;

}
.row img {
    height: 350px;
    margin-left: 0px;
    width: 70%;
    object-fit: cover;
}

.row > div {
    padding: 5rem 0px;
    width: 100%;

}


ul{
    margin: 0;
    padding:0;
}
/*Header*/

header{
    background-image: url(nav-image.jpg);
    color: white;
    padding-top: 25px;
    min-height: 70px;
    border-bottom: yellow 3px solid;

}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
}



header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    

}
header #branding{
    float: left;
     
}

header #branding h1{
    margin: 0;
    
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .active a{
    color: yellow;
    font-weight: bold;
}

header a:hover{
    color:yellow;
    font-weight: bold;

}

/*showcase*/

#showcase{
    min-height: 450px;
    background:url('showcasw2.jpg') no-repeat -250px -150px;
    text-align: center;
    color: white;

}

#showcase h1{
    font-family: 'Dancing Script', cursive;
    margin-top: 200px;
    font-size: 70px;
    margin-bottom: 20px;
}

#showcase p {
 
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

.footer {
    background: url(nav.jpg);
    margin-top: 55px;
    padding: 15px 0;
  }
  
.foo-link {
    margin: auto;
    display: flex;
    width: 100%;
    text-align: center;
}
  
.footer h1 {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    width: 100%;
}
.footer span {
    color: yellow;
}
.call h3{
    float: right;
}

  img{
      margin-top: 30px;
      margin-left: 20px;
      width: 70%; 
      height: 380px;
  }
 @media only screen and (max-width:768px){
    .foo-link {
        flex-direction: column;
      }
    
      .footer a {
        margin: 10px 0;
      }
  }
  html {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
@media screen and (max-width: 991px) {
header li {
    padding: 0 15px 0 15px;
}
.container {
    width: 90% !important;
}
	.content {
    padding: 0 !important;
}
.row img {
    height: auto;
    width: 300px;
    margin-left: 0;
}
.row img {
    height: auto;
    width: 300px;
    margin-left: 0;
    float: left;
}
img {
    margin: inherit;
}
.row > div {
    padding: 10px;
    float: left;
    width: 100%;
}
.row {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}
.container {
    width: 90%;
}
header #branding {
    float: left;
    width: 100%;
}
header #branding h1 {
    margin: 0;
    width: 100%;
    text-align: center;
    float: left;
}
.foo-link {
    width: 100%;
    text-align: center;
}
.flip-card-front img {
    height: 170px;
}
.flip-card {
    height: 230px;
}
.masonry {
    margin: 6px 0 !important;
}
.main {
    display: flex;
    justify-content: space-between;
}
.main img {
    width: 100%;
    height: auto;
    margin-left: 0;
}
.main #form {
    width: 100% !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
	    box-sizing: border-box;
}
}
@media screen and (max-width: 767px) {
#showcase h1 {
    font-family: 'Dancing Script', cursive;
    margin-top: 90px;
    font-size: 40px;
    margin-bottom: 20px;
}	
header #branding h1 {
    margin: 0;
    font-size: 20px;
}
.container {
    width: 90%;
}
header a {
    font-size: 12px;
}
header li {
    padding: 0 3px 0 3px;
}
header #branding {
    float: left;
    width: 100%;
    text-align: center;
}
.content {
    padding: 0 !important;
}
.row img {
    height: auto;
    width: 300px;
    margin-left: 0;
}
.row {
    display: block;
}
.row > div {
    padding: 0;
    width: 100%;
}
.row {
    padding-bottom: 0px;
	margin-bottom: 20px;
}
.menu {
    flex-direction: column;
}
.flip-card {
    height: 280px;
}
.flip-card-front img {
    height: auto;
}
button {
    width: 100% !important;
}
section#feature tr {
    display: flex;
    flex-direction: column;
}
section#feature img {
    width: 100%;
    margin: 0;
    height: auto;
}
.main {
    flex-direction: column;
}
}
